In [69]:
import os
import json
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re
import os
import glob2
import missingno as msno

In [27]:
relative_path = "Olymploration/data/*.csv" 
file_list = glob.glob(relative_path)
dataframes = []

# Loop through the file list and read each CSV file into a df
for file in file_list:
    df = pd.read_csv(file)
    dataframes.append(df)

In [44]:
#name the dfs
df_event_results = dataframes[0]
df_country = dataframes[1]
df_games = dataframes[2]
df_results = dataframes[3]
df_athletes = dataframes[4]
df_medals = dataframes[5]

In [46]:
df_country.head()

  country_noc         country
0         AFG     Afghanistan
1         ALB         Albania
2         ALG         Algeria
3         ASA  American Samoa
4         AND         Andorra

In [49]:
def check_missing_values(df):
    return df.isnull().sum()

In [50]:
check_missing_values(df_event_results)

edition        0
edition_id     0
country_noc    0
sport          0
event          0
result_id      0
athlete        0
athlete_id     0
pos            0
medal          0
isTeamSport    0
dtype: int64

In [51]:
check_missing_values(df_country)

country_noc    0
country        0
dtype: int64

In [52]:
check_missing_values(df_games)

edition              0
edition_id           0
edition_url          0
year                 0
city                 0
country_flag_url     0
country_noc          0
start_date           9
end_date            11
competition_date     0
isHeld              59
dtype: int64

In [58]:
df_games.head()

,edition,edition_id,edition_url,year,city,country_flag_url,country_noc,start_date,end_date,competition_date,isHeld
0,1896 Summer Olympics,1,/editions/1,1896,Athina,/images/flags/GRE.png,GRE,6 April,15 April,6 – 13 April,NaN
1,1900 Summer Olympics,2,/editions/2,1900,Paris,/images/flags/FRA.png,FRA,NaN,NaN,14 May – 28 October,NaN
2,1904 Summer Olympics,3,/editions/3,1904,St. Louis,/images/flags/USA.png,USA,14 May,NaN,1 July – 26 November,NaN
3,1908 Summer Olympics,5,/editions/5,1908,London,/images/flags/GBR.png,GBR,13 July,NaN,27 April – 31 October,NaN
4,1912 Summer Olympics,6,/editions/6,1912,Stockholm,/images/flags/SWE.png,SWE,6 July,27 July,5 May – 27 July,NaN

In [57]:
df_games[df_games['end_date'].isna()]

#missing values for end_Date, start_date if the games were not held,
#isHeld is NA if the games took place which. These missing values will not affect our analysis

,edition,edition_id,edition_url,year,city,country_flag_url,country_noc,start_date,end_date,competition_date,isHeld
1,1900 Summer Olympics,2,/editions/2,1900,Paris,/images/flags/FRA.png,FRA,NaN,NaN,14 May – 28 October,NaN
2,1904 Summer Olympics,3,/editions/3,1904,St. Louis,/images/flags/USA.png,USA,14 May,NaN,1 July – 26 November,NaN
3,1908 Summer Olympics,5,/editions/5,1908,London,/images/flags/GBR.png,GBR,13 July,NaN,27 April – 31 October,NaN
5,1916 Summer Olympics,50,/editions/50,1916,Berlin,/images/flags/GER.png,GER,NaN,NaN,—,Not held due to war
11,1940 Summer Olympics,51,/editions/51,1940,Helsinki,/images/flags/FIN.png,FIN,NaN,NaN,—,Not held due to war
12,1944 Summer Olympics,52,/editions/52,1944,London,/images/flags/GBR.png,GBR,NaN,NaN,—,Not held due to war
32,2024 Summer Olympics,63,/editions/63,2024,Paris,/images/flags/FRA.png,FRA,NaN,NaN,—,NaN
33,2028 Summer Olympics,64,/editions/64,2028,Los Angeles,/images/flags/USA.png,USA,NaN,NaN,—,NaN
34,2032 Summer Olympics,372,/editions/372,2032,Brisbane,/images/flags/AUS.png,AUS,NaN,NaN,—,NaN
39,1940 Winter Olympics,55,/editions/55,1940,Garmisch-Partenkirchen,/images/flags/GER.png,GER,NaN,NaN,—,Not held due to war
40,1944 Winter Olympics,56,/editions/56,1944,Cortina d'Ampezzo,/images/flags/ITA.png,ITA,NaN,NaN,—,Not held due to war

In [62]:
check_missing_values(df_athletes)
df_athletes.head()

,athlete_id,name,sex,born,height,weight,country,country_noc,description,special_notes
0,16809,Károly Teppert,Male,1891-07-20,na,na,Hungary,HUN,Károly Teppert started competing in cycling in...,na
1,43737,Andrzej Socharski,Male,1947-08-31,173.0,72,Poland,POL,na,Listed in Olympians Who Won a Medal at the Wor...
2,50147,Nathalie Wunderlich,Female,1971-06-03,170.0,50,Switzerland,SUI,na,na
3,5085,Miha Lokar,Male,1935-09-10,182.0,76,Yugoslavia,YUG,na,Listed in Olympians Who Won a Medal at the Eur...
4,136329,Austin Hack,Male,1992-05-17,203.0,100,United States,USA,na,na

In [63]:
check_missing_values(df_medals)
df_medals.head()

,edition,edition_id,year,country,country_noc,gold,silver,bronze,total
0,1896 Summer Olympics,1,1896,United States,USA,11,7,2,20
1,1896 Summer Olympics,1,1896,Greece,GRE,10,18,19,47
2,1896 Summer Olympics,1,1896,Germany,GER,6,5,2,13
3,1896 Summer Olympics,1,1896,France,FRA,5,4,2,11
4,1896 Summer Olympics,1,1896,Great Britain,GBR,2,3,2,7

In [64]:
check_missing_values(df_results)
df_results.head()

,result_id,event_title,edition,edition_id,sport,sport_url,result_location,result_participants,result_format,result_detail,result_description,start_date,end_date,time
0,9270,"7 metres, 1907 Rating, Open",1920 Summer Olympics,7,Sailing,/editions/7/sports/SAL,Oostende,8 from 2 countries,"Three races, with final places decided by tota...",na,There were two yachts competing. Britain’s An...,1920-07-07,1920-07-09,na
1,29722,"Featherweight (≤60 kilograms), Men",1980 Summer Olympics,20,Weightlifting,/editions/20/sports/WLF,"Dvorets sporta Izmaylovo, Moskva",18 from 14 countries,Total of best lifts in snatch and clean & jerk...,na,The favorite was likely Soviet Viktor Mazin wh...,1980-07-22,na,14:00-19:00
2,54126,"Platform, Men",1948 Summer Olympics,12,Diving,/editions/12/sports/DIV,"Wembley Arena, Wembley, London",25 from 15 countries,10 metre platform. Final round only. Four comp...,na,"Sammy Lee won this event, leading in both the ...",1948-08-04,1948-08-05,na
3,4684,"100 metres Backstroke, Men",1920 Summer Olympics,7,Swimming,/editions/7/sports/SWM,"Zwemstadion van Antwerpen, Antwerpen",12 from 6 countries,na,na,Watten Paoa Kealoha set a world record of 1:14...,1920-08-22,1920-08-23,na
4,1465,"Slalom, Men",2002 Winter Olympics,47,Alpine Skiing,/editions/47/sports/ALP,"Park City Mountain Resort, Park City, Utah (Kn...",77 from 43 countries,"Two runs, total time determined placement.",Jesse Hunt,The last few World Cups had gone to Austrian B...,2002-02-23,na,na